#login-page {
    background-image: url("../../../assets/images/pokemans.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #555555;
    height: 100%;
    max-height: 100%;
}

#login-form {
    background: #555555;
    background: linear-gradient(to bottom, #555555 0%, #464646 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #464646));
    background: -webkit-linear-gradient(top, #555555 0%, #464646 100%);
    background: -moz-linear-gradient(top, #555555 0%, #464646 100%);
    background: -o-linear-gradient(top, #555555 0%, #464646 100%);
    background: -ms-linear-gradient(top, #555555 0%, #464646 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#464646', GradientType=0);
    border: 1px solid #373737;
    box-shadow: inset 0 1px 0 #646464;
    -webkit-box-shadow: inset 0 1px 0 #646464;
    -moz-box-shadow: inset 0 1px 0 #646464;
    z-index: 2;
}

#login-form-title {
    background: #36454F;
    background: linear-gradient(to bottom, #36454F 0%, #273640 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36454F), color-stop(100%, #273640));
    background: -webkit-linear-gradient(top, #36454F 0%, #273640 100%);
    background: -moz-linear-gradient(top, #36454F 0%, #273640 100%);
    background: -o-linear-gradient(top, #36454F 0%, #273640 100%);
    background: -ms-linear-gradient(top, #36454F 0%, #273640 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36454F', endColorstr='#273640', GradientType=0);
    border: 1px solid #182731;
    box-shadow: inset 0 1px 0 #45545E;
    -webkit-box-shadow: inset 0 1px 0 #45545E;
    -moz-box-shadow: inset 0 1px 0 #45545E;

    color: #fff1f1;
}