<div class="container flex-fill">
    <div class="tableFixHead bg-white">
        <table class="table table-bordered table-striped">
            <thead class="bg-light shadow" id="table-head">
                <tr class="border">
                    <th *ngIf="showId">Dex #</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody class="h-100 bg-white">
                <tr *ngFor="let pkmn of currentView" (click)="selectPokemon( pkmn.id )" class="list-row" >
                    <td *ngIf="showId">{{ formatId( pkmn.id.toString() ) }}</td>
                    <td>{{ formatName( pkmn.name ) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center align-items-center bg-white border rounded-bottom">
        <td class="flex-fill m-2" *ngIf="currentView.length > 0 && showId">
            <b>{{ formatId( ( currentView[0].id ).toString() ) + ' - ' + formatId( ( currentView[currentView.length - 1].id ).toString() ) }}</b>
        </td>
        <td class="flex-fill m-2" *ngIf="0 >= currentView.length && showId">
            <b> None Found </b>
        </td>
        <td class="flex-fill p-3 m-2 d-flex justify-content-end">
            <button type="button" class="btn btn-info px-3 mx-3 prev-btn"
                    (click)="prevList()" [disabled]="isFirstList()">
                Previous
            </button>
            <button type="button" class="btn btn-info px-3 mx-3 next-btn"
                    (click)="nextList()" [disabled]="isLastList()">
                Next
            </button>
        </td>
    </div>
</div>